body {
    margin: 0;
    padding: 0;
  }
  
  .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100px;
    height: 60px;
    cursor: pointer;
  }
  
  .arrow {
    position: absolute;
    top: 25px;
    width: 90%;
    height: 10%;
    border-radius: 10px;
    background-color: #fff;
    
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    transform: rotate(90deg);
  }
  
  .arrow::after, .arrow::before {
    content: '';
    position: absolute;
    width: 25%;
    height: 100%;
    right: -3%;
    border-radius: 10px;
    background-color: #fff;
  }
  
  .arrow::after {
    top: -115%;
    transform: rotate(45deg);
  }
  
  .arrow::before {
    top: 115%;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    transform: rotate(-45deg);
  }